@font-face {
    font-family: 'Chingchong';
    src: url('../public/font/chinese.ttf') format('truetype');
}

.flip-container {
    position: relative;
    transform-style: preserve-3d;
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
